
/* ----- ----- Redes Sociales ----- ----- */
.redes-sociales {
	text-align: center;
	padding: 20px 0;
}

.redes-sociales a {
	display: inline-block;
	font-style:20px;
	width: 50px;
	height: 50px;

	padding: 14px 0;
	border-radius: 50%;
	color: #fff;
	margin: 0 10px;
}

.redes-sociales .behance { background: #1769ff; }
.redes-sociales .facebook { background: #3b5998; }
.redes-sociales .twitter { background: #55acee; }


.header {
	background: #333;
	color: rgb(57, 206, 64);
	padding: 1rem 0;
  
	/* hacer el menu fijo */
	position: fixed;
	left: 0;
	top: 0;
	/* ocuapamos todo el ancho */
	right: 0;
  }
  
  .header a {
	color: white;
	text-decoration: none;
  }
  
  .logo-nav-container {
	display: flex;
	justify-content: space-between;
	/* lo alineamos al centro */
	align-items: center;
  
	flex-wrap: wrap;
  }
  
  /* logo */
  .logo {
	letter-spacing: 15px;
	font-size: 1.3em;
  }
  
  .menu-icon {
	display: none;
  }
  
  /* todos los "ul" que esten dentro de "navigation" */
  .navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  .navigation ul li {
	/* uno al lado del otro */
	display: inline-block;
  }
  
  /* los enlaces dentro del menu */
  .navigation ul li a {
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.2s linear;
	border-radius: 5px;
  }
  
  .navigation ul li a:hover {
	background: #cc4444;
  }
/* ----- ----- Redes Sociales ----- ----- */
.redes-sociales {
	text-align: center;
	padding: 20px 0;
}

.redes-sociales a {
	display: inline-block;
	font-style:20px;
	width: 50px;
	height: 50px;
	font:20px;
	padding: 14px 0;
	border-radius: 50%;
	color: #fff;
	margin: 0 10px;
}
